<app-titulo [titulo] = "'Contato'"></app-titulo>

<div class = "card rounded shadow-sm p-3">
  <div class="form-row">
    <div class=" form-inline">
  <a href="https://www.linkedin.com/in/gustavoms2001">
    <h2> <i class="fab fa-4x fa-linkedin"></i></h2>
  </a>
  </div>
  <div class="form-inline" style="margin-left: 25%;margin-right: 16%;">
  <a href="https://github.com/iWannaLearnn" class="text-right">
    <h2>
      <i class="fab fa-4x fa-github"></i>
    </h2>
  </a>

</div>
<div class = "card bg-dark rounded text-white p-3">
  <h3>Tel: (43)984260870</h3>
  <br>
  <h3>Email: gustavoms050@gmail.com</h3>
    </div>
</div>

